<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Truck Drivers</title>

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/sb-admin-2.css" rel="stylesheet">

  <link rel="stylesheet" href="css/style.css">
  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Varta<sup>4</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>
      <!-- Nav Item - Tables -->
      <li class="nav-item active">
        <a class="nav-link" href="Farmers.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Home</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fas fa-fw fa-table"></i>
          <span>Profile</span></a>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Stats</span></a>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                      aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Gracia</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="card-body">


            <div class="my-2"></div>
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Driver Profile</h6>
              </div>
              <div>
                <div class="col-xl-12 col-md-6 mb-4 width:100%">
                  <div class="card border-left-primary shadow h-100 py-2 margin-4 card-margin gradient-background">
                    <div class="card-body">
                      <h1 class="h3 mb-2 text-gray-800" id="name">Full Name</h1>
                      <div class="row no-gutters align-items-center ">
                        <div class="col-md-3 col-xl-12 col-lg-6 ">
                          <div class="col-xl-3 col-md-2 col-lg-8">
                            <span class="font-weight-bold text-primary text-uppercase mb-1 ">PAN</span>
                            <span class="h6 mb-0 font-weight-bold text-gray-800" id="PAN">PAN Number</span>
                          </div>
                          <div class="col-md-4">
                            <span class="font-weight-bold text-primary text-uppercase mb-1 ">Phone Number</span>
                            <span class="h6 mb-0 font-weight-bold text-gray-800" id="phno">#####</span>
                          </div>
                          <div class="col-md-4">
                            <span class="font-weight-bold text-primary text-uppercase mb-1 ">Truck Type</span>
                            <span class="h6 mb-0 font-weight-bold text-gray-800" id="ttype">Non-refrigerated</span>
                          </div>
                          <div class="col-md-4">
                            <span class="font-weight-bold text-primary text-uppercase mb-1 ">Vehicle Number</span>
                            <span class="h6 mb-0 font-weight-bold text-gray-800" id="vehicleno">Vehicle number</span>
                          </div>
                          <div class="col-md-4">
                            <span class="font-weight-bold text-primary text-uppercase mb-1 ">Vehicle Model</span>
                            <span class="h6 mb-0 font-weight-bold text-gray-800" id="vehiclemodel">Vehicle model</span>
                          </div>

                          <div class="col-md-4">
                              <span class="font-weight-bold text-primary text-uppercase mb-1 ">Available Capacity</span>
                              <span class="h6 mb-0 font-weight-bold text-gray-800" id="available_capacity">Capacity</span>
                            </div>
                          <div class="col-md-4">
                            <button class="btn btn-primary hired" style="margin:1vh 0vh;" type="button" id="hireButton"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Get Hired
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                </div>
              </div>
            </div>
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Transactions</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <h3>Assigned Consignments </h3>
                    <thead>
                      <tr>
                        <th>Consignment ID</th>
                        <th>Purpose</th>
                        <th>Farm Entity</th>
                        <th>Address</th>
                        <th>Person of Concern</th>
                        <th>Phone Number</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody id="driver_table">
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2019</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <form id="inv_form" style="display:none">
      <input id="inv_PAN" name="PAN" type="text" />
    </form>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

    <script>
      var url = 'http://172.29.12.159:8000'
      user_data = JSON.parse(localStorage.getItem('user'));
      document.getElementById("name").innerHTML = user_data.name
      document.getElementById("PAN").innerHTML = user_data.PAN
      document.getElementById("phno").innerHTML = user_data.phone_number
      if(user_data.vehicle_model == 0){
        document.getElementById("ttype").innerHTML = "Refrigerated"
      }
      else{
        document.getElementById("ttype").innerHTML = "Non-Refrigerated"
      }
      document.getElementById("vehicleno").innerHTML = user_data.vehicle_number
      document.getElementById("vehiclemodel").innerHTML = user_data.vehicle_model
      document.getElementById("available_capacity").innerHTML = user_data.available_capacity.toString(10)
      // console.log(user_data.available_capacity)
      alert(user_data.name)
      console.log(user_data)
      $(document).ready(function () {
        user_data = JSON.parse(localStorage.getItem('user')).PAN; 
        alert(user_data)
        console.log("User data \n")
        console.log(user_data)
        $("#inv_PAN").val(user_data);
        var formData2 = $("#inv_form").serializeArray();
        var formData = JSON.stringify(formData2);
        console.log(formData)
        // console.log("TEST")
        $.post(url+"/get_driver_info", formData, function (data, status) {
          $(data).each(function (index, value) {
            console.log(data)
            // console.log("LOL")
            if (value.isHired == true) {
              $("#hireButton").addClass("disabled");
              $("#hireButton").html("Already Hired");
              $.post(url+"/get_driver_path", formData, function (data, status) {
                console.log("data\n")
                console.log(data)
                $("#driver_table").empty()
                var flag = false
                var data_to_send = data;
                var dict_to_send = {};
                $(data).each(function (index, value){
                  console.log(value)
                  // $.post(url+"/update_status", formData.append(data), function(){})
                  if(value.status === 'Reached'){
                    console.log("1");
                    // var button_insert = '<a href="#" class="btn btn-info btn-icon-split btn-margin" id="btn_'+index+'"><span class="icon text-white-50"><i class="fas fa-asterisk"></i></span><span class="text">Pending</span></a>';
                    var button_insert = '<a href="#" class="btn btn-success btn-icon-split btn-margin" id="btn_'+index+'"><span class="icon text-white-50"><i class="fas fa-check"></i></span><span class="text">Completed</span></a>';
                  }
                  else if(flag==true){
                    console.log("2");
                    var button_insert = '<a href="#" class="btn btn-info btn-icon-split btn-margin disabled" id="btn_'+index+'"><span class="icon text-white-50"><i class="fas fa-asterisk"></i></span><span class="text">Pending</span></a>';
                  }
                  else{
                    console.log("3");
                    flag = true;
                    var button_insert = '<a href="#" class="btn btn-info btn-icon-split btn-margin" id="btn_'+index+'"><span class="icon text-white-50"><i class="fas fa-asterisk"></i></span><span class="text">Pending</span></a>';
                  }
                  $("#driver_table").append('<tr>'+
                        '<td>'+value.consignment_id+'</td>'+
                        '<td>'+value.purpose+'</td>'+
                        '<td>'+value.farm_entity+'</td>'+
                        '<td>'+value.address+'</td>'+
                        '<td>'+value.person_of_concern+'</td>'+
                        '<td>'+value.phone_number+'</td>'+
                        '<td>'+button_insert+'</td>'+
                      '</tr>');
                      $("#btn_"+index).click(function(){
                        // data_to_send[index].status = "Reached";
                        index_dict = {"name":'index_val',"value":index.toString()};
                        console.log("FormData : \n");
                        console.log(formData);
                        console.log("Index dict : \n");
                        console.log(index_dict);
                        // dict_to_send = Object.assign({}, formData, index_dict);
                        // console.log(dict_to_send);
                        function createObj(obj1, obj2){
                          var dict_to_send = {};
                          for (var i in obj1) {
                            dict_to_send[i] = obj1[i];
                          }
                          for (var j in obj2) {
                            dict_to_send[j] = obj2[j];
                          }
                          return dict_to_send;
                        };
                        console.log("Form Data2");
                        console.log(formData2[0]);
                        formData2[0]['index_val'] = index
                        // formData2[index]['index_val'] = index;
                        // var dict_to_send = createObj(formData2, index_dict);
                        console.log("Dict-to-send");
                        console.log(formData2[0]);
                        $.post(url+'/update_status', JSON.stringify(formData2[0]), function(){});
                        // console.log(data_to_send);
                        // dict_to_send['key_val'] = data_to_send;
                        // $.post(url+'/update_status', dict_to_send, function(){});
                        // console.log(dict_to_send);
                        $(this).addClass('btn-success');
                        $(this).removeClass('btn-info');
                        $("#btn_"+index+" span i").removeClass("fa-asterisk");
                        $("#btn_"+index+" span i").addClass("fa-check");
                        $("#btn_"+index+" span:eq(1)").html("Completed");
                      });
                  //  console.log(data)
                })
                // console.log(data_to_send)
              })
            }
            else{
              $("#hireButton").click(function(){
                console.log("CheckClick")
                console.log("FORM : \n")
                console.log(formData)
                $.post(url+"/get_hired", formData, function(data, status){
                  console.log("Check2")
                  location.reload()
                  // console.log(data)
                })
              })
            }
          });
          // alert("Data : " + data[0].upid + "\nStatus: " + status);
        });
      });
    </script>

</body>

</html>