<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet" />
  </head>
  <script>
    function send_test() {
      var formData = JSON.stringify($("#myForm").serializeArray());
      $.post("http://192.168.43.229:8000/new_reg/", formData, function(
        data,
        status
      ) {
        alert("Data: " + data + "\nStatus: " + status);
        document.getElementById("otp").style.display = "block";
        document.getElementById("initial").style.display = "none";
      });

      document.getElementById("role").style.display = "block";
    }

    function show_what(val) {
      document.getElementById("options").style.display = "none";
      if (val == 2) {
        document.getElementById("mandi").style.display = "block";
        document.getElementById("role_val").value = "3";
      }
      if (val == 1) {
        document.getElementById("role_val").value = "1";
      }
      if (val == 4) {
        document.getElementById("role_val").value = "2";
        document.getElementById("truck").style.display = "block";
      }
      if (val == 3) {
        document.getElementById("role_val").value = "4";
        document.getElementById("farm_tool").style.display = "block";
      }
      document.getElementById("next").style.display = "block";
    }

    function otp_check() {
      document.getElementById("PAN").value = document.getElementById(
        "examplepan"
      ).value;
      var formData = JSON.stringify($("#otp_form").serializeArray());
      $.post("http://192.168.43.229:8000/otp_check/", formData, function(
        data,
        status
      ) {
        alert("Data: " + data + "\nStatus: " + status);

        window.location.href = "index.html";
      });
    }
  </script>

  <body class="bg-gradient-success">
    <div id="initial" class="container">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                </div>
                <form
                  id="myForm"
                  enctype="application/json"
                  class="user"
                  method="POST"
                >
                  <div class="form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control form-control-user"
                      id="name"
                      placeholder="Name "
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="number"
                      name="phone_number"
                      class="form-control form-control-user"
                      id="exampleInputEmail"
                      placeholder="Mobile Number"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      name="PAN"
                      class="form-control form-control-user"
                      id="examplepan"
                      placeholder="PAN card number"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      name="address"
                      class="form-control form-control-user"
                      id="exampleAdd"
                      placeholder="Address"
                    />
                  </div>
                  <div style="color:black" id="options">
                    <a
                      onclick="show_what(1)"
                      class="btn btn-success btn-user btn-block"
                    >
                      Farmers
                    </a>
                    <a
                      onclick="show_what(4)"
                      class="btn btn-info btn-user btn-block"
                    >
                      Truck Drivers
                    </a>
                    <a
                      onclick="show_what(2)"
                      class="btn btn-warning btn-user btn-block"
                    >
                      Mandi
                    </a>
                    <a
                      onclick="show_what(3)"
                      class="btn btn-danger btn-user btn-block"
                    >
                      Farm Tools Seller
                    </a>
                    <hr/>
                    <a
                      href = "login.html"
                      style="color:white"
                      class="btn btn-primary btn-user btn-block"
                    >
                      Already have an account, Login!
                    </a>

                  </div>
                  <input
                    type="text"
                    name="role"
                    class="form-control form-control-user"
                    id="role_val"
                    placeholder="Role"
                    style="display:none"
                  />
                  <div style="display:none" id="mandi">
                    <div class="form-group row"></div>
                    <div class="form-group">
                      <input
                        type="text"
                        name="organization_name"
                        class="form-control form-control-user"
                        id="exampleInputName"
                        placeholder="Organisation Name"
                      />
                    </div>
                  </div>
                  <div style="display:none" id="farm_tool">
                    <div class="form-group">
                      <input
                        type="text"
                        name="shop_name"
                        class="form-control form-control-user"
                        id="exampleInput"
                        placeholder="Shop Name"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="number"
                        name="GST_number"
                        class="form-control form-control-user"
                        id="example"
                        placeholder="GST"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="number"
                        name="bank_account_number"
                        class="form-control form-control-user"
                        id="example"
                        placeholder="Bank Account Number"
                      />
                    </div>

                  </div>
                  <div style="display:none" id="truck">
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <input
                          type="text"
                          name="licence_number"
                          class="form-control form-control-user"
                          id="exampleFirstName"
                          placeholder="Licence Number"
                        />
                      </div>
                      <div class="col-sm-6">
                        <input
                          type="text"
                          class="form-control form-control-user"
                          id="exampleLastName"
                          name="vehicle_number"
                          placeholder="Vehicle Number"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control form-control-user"
                        id="exampleInputEmail"
                        name="vehicle_model"
                        placeholder="Model"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="number"
                        class="form-control form-control-user"
                        id="examplepan"
                        name="vehicle_capacity"
                        placeholder="Capacity"
                      />
                    </div>
                  </div>
                </form>
                <button
                  onclick="send_test()"
                  id="next"
                  style="display:none;margin-top:1em"
                  class="btn btn-primary btn-user btn-block"
                >
                  Next
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="display:none" id="otp" class="container">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">OTP Authentication</h1>
                </div>
                <form id="otp_form" class="user">
                  <div class="form-group">
                    <input
                      name="OTP"
                      type="text"
                      class="form-control form-control-user"
                      placeholder="Please enter OTP here."
                    />
                    <input
                      id="PAN"
                      style="display:none"
                      name="PAN"
                      type="text"
                      class="form-control form-control-user"
                      placeholder="Please enter OTP here."
                    />
                  </div>

                  <a
                    onclick="otp_check()"
                    class="btn btn-primary btn-user btn-block"
                  >
                    Submit
                  </a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
  </body>
</html>
