.btn-margin{
    margin: 1px;
}

.btn-margin-large{
    margin: 2vh;
}

.center-elements{
    margin: auto;
    text-align: center;
}

.card-margin{
    margin: 1% 3%;
}

.gradient-background{
    background-image: linear-gradient(to bottom right, rgba(253, 251, 251, 1), rgba(235, 237, 238, 1));
}